.shop {
    //border: 1px solid;
    margin: 2% 10%;
    font-family: $font-planet-army;
    //background-color: $color-bg-components;
    &__title {
        text-transform: uppercase;
        font-size: $font-size-lg;
        //color: $color-font;
    }
}

.slider {
    position: relative;
    //max-width: 226px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        .card {
            flex: 1;
            min-width: 150px;
        }
    }
}
