.shop {
    margin: 2% 10%;
    font-family: $font-planet-army;
    //background-color: $color-bg-components;
    &__title {
        text-transform: uppercase;
        font-size: $font-size-lg;
        color: $color-font;
    }
    &__btn {
        padding-right: 15px;
    }
    &__container {
        display: flex;
        max-width: 1000px;
        flex-direction: column;
        margin: 0 auto;
    }
}

.slider {
    position: relative;
    //max-width: 226px;
    margin: 0 auto;
    padding-bottom: 20px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        .card {
            flex: 1;
            min-width: 150px;
        }
    }
}
