/** Font */

// family
$font-tomorrow-wars: 'TomorroWars';

// weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-super-bold: 800;

// size
$font-size-base: 1rem; // 16px
$font-size-logo: ($font-size-base * 5); // 80px

/** Colors **/

$color-logo: #e6c71d;
$color-top-section-bg: #1756dd32;
