.btn {
    outline: none;
    border: none;
    background-color: $btn-color;
    margin-top: 10px;
    font-family: $font-planet-army;
    font-size: $font-size-sm;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    padding: 8px 2em;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 350ms ease-in-out;
}
